<!DOCTYPE html>
<html>
  <head>
    <meta name="description" content="I am 59yrs old, never married, rent a small room, and nothing brings me joy except my pizza." />
    <link href="css/normalize.css" rel="stylesheet" type="text/css" />
	<link href='https://fonts.googleapis.com/css?family=Vollkorn:400italic,400' rel='stylesheet' type='text/css'>
    <link href="css/main.css" rel="stylesheet" type="text/css" />
    <title>&#127829;</title>
    <style>
        html {
            background: url(/img/pies/<%= @image %>) no-repeat center center fixed;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
        }
    </style>
  </head>
  <body>
    <div class="pizza">
      <blockquote><%= @quote["text"] %>
        <footer>&mdash; <%= @quote["author"] %></footer></blockquote>
    </div>
  </body>
</html>