<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
  <head>
    <meta name="description" content="I am 59yrs old, never married, rent a small room, and nothing brings me joy except my pizza." />
    <link href="css/main.css" rel="stylesheet" type="text/css" />
    <title>&#127829;</title>
  </head>
  <body>
    <div class="pizza">
      <blockquote><%= @quote["text"] %>
        <br/>&mdash; <%= @quote["author"] %></blockquote>
      <img src="img/pies/<%= @image %>"></img>
    </div>
  </body>
</html>